 <h1 style="text-align:center">Welcome to Tamagotchi App</h1>
  <div class= "col-sm-12">
     <img  class="img-responsive center-block" style="max-height:300px" src="https://d13yacurqjgara.cloudfront.net/users/603290/screenshots/2127837/tamagotchi_dr.gif">

<form action="/name">

    <div class="form-group btt" style="text-align:center">
        <label for="name">Name your pet
        </label>
        <input id="name" name="name" class="form-control  col-xs-2" type="string">
    </div>
    <button type="submit" class="btn-success center-block">Submit</button>
</form>
