.new-layout {
  /*background-image: url("http://wallpaper-gallery.net/images/wallpaper-video-games/wallpaper-video-games-2.jpg");*/
  /*height: 50px*/
}
/*
.image {
  height: 550px;
  width: 550px;

}*/

body {
  background-image: url("http://cdn.wallpapersafari.com/38/6/lCaxHB.jpg");
  font-family: inherit;
}
